.wrapper {
  width: 100%;
  border: 1px solid red;
}

.welcome {
  display: inline-block;
}

#profile-pic {
  max-width: 250px;
  max-height: 250px;
  margin: 10px;
}

.social {
  max-height: 100px;
  max-width: 100px;
}

.carousel-item:nth-child(1) {
  
}

.carousel-image {
  max-width: 300px;
  max-height: 300px
}

.pics {
  margin: 5px;
}

.center-text {
  text-align: center;
}