.wrapper {
  width: 100%;
  border: 1px solid red;
  
}

.welcome {
  display: inline-block;
}

#profile-pic {
  max-width: 250px;
  max-height: 250px;
  margin: 10px;
}

.social {
  max-height: 100px;
  max-width: 100px;
}