* {
  box-sizing: border-box; 
}


.wrapper {
  width: 100%;
  border: 5px solid red;
/*  height: 100vh;*/
}

.welcome {
  display: inline-block;
}

#profile-pic {
  max-width: 250px;
  max-height: 250px;
  margin: 10px;
}

.social {
  max-height: 100px;
  max-width: 100px;
}

.carousel-image {
  max-width: 300px;
  max-height: 300px
}

.center-text {
  text-align: center;
}

body {
  background-color: #c9c9c9;

}

.row {
  background-color: #9ad3de;
  font-family: 'Rubik', sans-serif;
}

nav {
  background-color: #1d2120;
  font-family: 'Rubik', sans-serif;
}

.nav-text {
  color: white;
}

.language-logo {
  margin: 5px;
  max-height: 100px;
  max-width: 100px;
}

.container-fluid:nth-of-type(2) {
  padding: 0px;
}

.carousel-control-prev {
  margin-left: 56%;
}

.carousel-indicators {
  left: 57%;
  bottom: -10px;
}