<div class="col-md-4">
    <a href="https://github.com/siverson90">
      <img src="images/github.png" alt="Github account" class="img-fluid social">
    </a>
  </div>
  <div class="col-md-4">
    <a href="https://www.linkedin.com/in/joshsiverson/">
      <img src="images/linked_in.png" alt="LinkedIn account" class="img-fluid social">
    </a>
  </div>
  <div class="col-md-4">
    <a href="https://stackoverflow.com/users/8365885/joshua-siverson">
      <img src="images/stackoverflow.png" alt="Stackoverflow account" class="img-fluid social">
    </a>
</div>