{{>nav/navbar}}
<section id="space-canvas"><canvas></canvas>
  {{>content/profile}}
</section>
<section id="content">
  <div class="content-class">
    {{>content/slider}}
    {{>content/language-icon}}
  </div>
</section>
<section id="contact">
  <div class="content-class">
    {{>content/contact}}
  </div>
</section>
{{>nav/footer}}



