<div class="container-fluid">
  <canvas id="layer-1"></canvas>
  <div id="btn-wrapper">
  <a href="/portfolio">
    <button type= "button" class= "btn btn-primary" id="portfolio">
      Learn More about Josh
    </button>
  </a>
 </div>  
</div>
