{{>nav/navbar}}
<section id="space-canvas"><canvas></canvas>
  {{>content/profile}}
</section>
<section id="content">
  <div id="content-id">
    {{>content/slider}}
    {{>content/language-icon}}
  </div>
</section>
<section id="contact">{{>content/contact}}</section>
{{>nav/footer}}



