<nav class="navbar navbar-expand-lg navbar-inverse bg-inverse sticky-top">
  <a class="navbar-brand nav-text" href="#">Josh Siverson</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active nav-text" href="#">About Me <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link nav-text" href="#">Projects</a>
      <a class="nav-item nav-link nav-text" href="#">Contact</a>
    </div>
  </div>
</nav>

<!-- entire wrapper -->
<div class="container">
  <div class="container wrapper">
  <div class="row">
    <div class="welcome col-md-4">
      <img class="rounded-circle" id="profile-pic" src="images/Josh_linkedin.jpeg" alt="Josh's linkedin Picture">
    </div>
    <div class="welcome col-md-8">
      <h1> Hi I'm Josh</h1>
      <!-- utilze a rotating adjective of some kind -->
      <p>I am a full stack web developer, who enjoys building products, working with teams and improving everyday</p>
      <p>In my spare time I like to <span id="rotation-phrases"></span>.</p>
    </div>
  <!-- end row -->
  </div> 
  <!-- end container-fluid -->
</div>

<div class="container wrapper ">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <!-- generate via jQuery -->
    <div class="carousel-inner" role="listbox">
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- end container-fluid -->
</div>

<!-- Languages -->
<div class="container wrapper">
  <div class="row align-items-center">
  <div class="languages col-md-12">
    <div class="row">
      <p class="col-md-12 center-text">Languages</p>
    </div>
    <div class="row" id="logos-row">
    </div>
  </div>
    <div class="col-md-4">
    </div>
  </div>
</div>

<!-- Resume download and Social Media icons -->
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <button type="button" class="btn btn-primary btn-lg" id="resume" adownload="Resume_Josh_Siverson.pdf">  Josh's Resume
          <a href="professional_portfolio/Resume_Josh_Siverson.pdf" download="Josh's Resume PDF"></a>
        </button>
      </div>
      <div class="col-md-6">
        <!-- Insert handlbar partials for logos -->
        <div class="row">
          <div class="col-md-4">
          <a href="https://github.com/siverson90">
            <img src="images/github.png" alt="Github account" class="img-fluid social">
          </a>
        </div>
        <div class="col-md-4">
          <a href="https://www.linkedin.com/in/joshsiverson/">
            <img src="images/linked_in.png" alt="LinkedIn account" class="img-fluid social">
          </a>
        </div>
        <div class="col-md-4">
          <a href="https://stackoverflow.com/users/8365885/joshua-siverson">
            <img src="images/stackoverflow.png" alt="Stackoverflow account" class="img-fluid social">
          </a>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

