<div class="wrapper">
  <div class="container">
    <div class="row container-title">
      <div class="col-md-12">
        <p>Contact</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <button type="button" class="btn btn-primary btn-lg" id="resume" adownload="Resume_Josh_Siverson.pdf"> Josh's Resume
          <a href="professional_portfolio/Resume_Josh_Siverson.pdf" download="Josh's Resume PDF"></a>
        </button>
      </div>
      <div class="col-md-6">
        <!-- Insert handlbar partials for logos -->
        <div class="row">
          <div class="col-md-4">
          <a href="https://github.com/siverson90">
            <img src="images/github.png" alt="Github account" class="img-fluid social">
          </a>
        </div>
        <div class="col-md-4">
          <a href="https://www.linkedin.com/in/joshsiverson/">
            <img src="images/linked_in.png" alt="LinkedIn account" class="img-fluid social">
          </a>
        </div>
        <div class="col-md-4">
          <a href="https://stackoverflow.com/users/8365885/joshua-siverson">
            <img src="images/stackoverflow.png" alt="Stackoverflow account" class="img-fluid social">
          </a>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>