<div class="wrapper">
  <div class="container">
    <div class="row container-title">
      <div class="col-md-12">
        <p>Contact</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
          <a href="https://docs.google.com/document/d/1wfl7xfuJG7xyIwSW7iDdCZO-0P_DURZZq3J998brX9w/edit?usp=sharing" target="_blank"> <button type="button" class="btn btn-primary btn-lg" id="resume"> Josh's Resume</button></a>
      </div>
      <div class="col-md-6">
        <!-- Insert handlbar partials for logos -->
        <div class="row">
          <div class="col-md-4">
          <a href="https://github.com/siverson90" target="_blank">
            <img src="images/github.png" alt="Github account" class="img-fluid social">
          </a>
        </div>
        <div class="col-md-4">
          <a href="https://www.linkedin.com/in/joshsiverson/" target="_blank">
            <img src="images/linked_in.png" alt="LinkedIn account" class="img-fluid social">
          </a>
        </div>
        <div class="col-md-4">
          <a href="https://stackoverflow.com/users/8365885/joshua-siverson" target="_blank">
            <img src="images/stackoverflow.png" alt="Stackoverflow account" class="img-fluid social">
          </a>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>