  <div class="wrapper" id="profile">
    <div class="container">
      <div class="row">
      <div class="welcome col-md-4">
      <img class="rounded-circle" id="profile-pic" src="images/Josh_linkedin.jpeg" alt="Josh's linkedin Picture">
      </div>
    <div class="welcome col-md-8">
      <h1> Hi I'm Josh</h1>
      <!-- utilze a rotating adjective of some kind -->
      <p>I am a full stack web developer, who enjoys building products, working with teams and improving everyday</p>
      <p>In my spare time I like to <span id="rotation-phrases"></span>.</p>
    </div>
    </div>
  </div> 