<div class="wrapper">
  <div class="container slider-container">
    <div id="carouselExampleIndicators carousel-slider" class="carousel slide" data-ride="carousel">
      <div class="row container-title">
        <div class="col-md-12">
          <p>Projects</p>
        </div>
      </div>
      {{>content/carsousel-data}}
      <div class="carousel-control">
        <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <a class="carousel-control-prev prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  <!-- end container-fluid -->
</div>