<nav class="navbar navbar-expand-lg navbar-inverse bg-inverse sticky-top">
  <a class="navbar-brand nav-text" href="#">Josh Siverson</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link nav-text" id="projects" href="#content">Projects</a>
      <a class="nav-item nav-link nav-text" id="contacts" href="#contact">Contact</a>
    </div>
  </div>
</nav>